<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832289861318-4dtfhg1i64l1floo5m6suhe8pg2eeoql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832289861318-4dtfhg1i64l1floo5m6suhe8pg2eeoql</string>
	<key>API_KEY</key>
	<string>AIzaSyD7D2CLxvU_k0Y-qx-DqiKWnjYkZZhP00k</string>
	<key>GCM_SENDER_ID</key>
	<string>832289861318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aghulDictionary</string>
	<key>PROJECT_ID</key>
	<string>aghul-dictionary</string>
	<key>STORAGE_BUCKET</key>
	<string>aghul-dictionary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832289861318:ios:32228d72aaddfe044731c7</string>
</dict>
</plist>